@keyframes windFlow {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animate-wind-flow {
    animation: windFlow 1s ease-in-out infinite;
  }
  